  @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Times, serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(121, 118, 120);
    padding: 20px;
}
.card-box{
    position: relative;
    max-width: 600px;
    width: 100%;
    background-color: #bec8d3;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.397);
    z-index: 1;
}

.background-image {
    position: absolute;
    width: 250px;     
    height: auto;
    bottom: -7px; 
    right: -10px;
    z-index: -1;
    overflow: hidden;
}
.card-box header{
    position: absolute;
    padding: 5px;
    font-size: 1rem;
    background-color: chocolate;
    color: #333;
    font-weight: 500;
    text-align: left;
    margin: 0 -40px;
    z-index: -1;
}
.card-box .forma{
    margin-top: 40px;
}

.forma .input-box{
    width: 70%;
    margin-top: 20px;
}
.input-box label{
 color: #333;
}

.forma .input-box input{
    background-color: #d9e2ec;
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
    border: #ddd;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 1rem;
    color: #707070;
}
.forma .column{
    display: flex;
    column-gap: 10px;
    width: 70%;
}
p{
   
    margin-top: 20px;
    color: #333;
}